set mouse

include ~/.nano/syntax/html.nanorc
include ~/.nano/syntax/css.nanorc
include ~/.nano/syntax/javascript.nanorc
include ~/.nano/syntax/json.nanorc
include ~/.nano/syntax/xml.nanorc
include ~/.nano/syntax/python.nanorc
include ~/.nano/syntax/shell.nanorc
include ~/.nano/syntax/yaml.nanorc
include ~/.nano/syntax/sql.nanorc
include ~/.nano/syntax/nginx.nanorc
include ~/.nano/syntax/markdown.nanorc
include ~/.nano/syntax/go.nanorc
